<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">


	<profiles>
		<profile>
			<id>my-profile</id>

			<repositories>
				<repository>
					<id>maven-central-repository</id>
					<url>https://repo.maven.apache.org/maven2/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</repository>

				<repository>
					<id>redhat-ga-repository</id>
					<url>https://maven.repository.redhat.com/ga</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</repository>

				<repository>
					<id>redhat-early-access-repository</id>
					<url>https://maven.repository.redhat.com/earlyaccess/all/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</repository>

				<repository>
					<id>redhat-techpreview-repository</id>
					<url>https://maven.repository.redhat.com/techpreview/all</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</repository>

				<repository>
					<id>jboss-public-repository</id>
					<url>https://repository.jboss.org/nexus/content/repositories/public/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</repository>

				<repository>
					<id>jboss-early-access-repository</id>
					<url>https://repository.jboss.org/nexus/content/repositories/ea/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</repository>

				<repository>
					<id>fuse-public-repository</id>
					<url>https://repo.fusesource.com/nexus/content/groups/public</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</repository>

				<repository>
					<id>fuse-early-access-repository</id>
					<url>https://repo.fusesource.com/nexus/content/groups/ea</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</repository>

			</repositories>

			<pluginRepositories>

				<pluginRepository>
					<id>maven-central-plugin-repository</id>
					<url>https://repo.maven.apache.org/maven2/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</pluginRepository>

				<pluginRepository>
					<id>redhat-ga-plugin-repository</id>
					<url>https://maven.repository.redhat.com/ga</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</pluginRepository>

				<pluginRepository>
					<id>redhat-early-access-plugin-repository</id>
					<url>https://maven.repository.redhat.com/earlyaccess/all/</url>
					<layout>default</layout>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</pluginRepository>

				<pluginRepository>
					<id>redhat-techpreview-plugin-repository</id>
					<url>https://maven.repository.redhat.com/techpreview/all</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</pluginRepository>

				<pluginRepository>
					<id>jboss-public-plugin-repository</id>
					<url>https://repository.jboss.org/nexus/content/repositories/public/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</pluginRepository>

				<pluginRepository>
					<id>jboss-early-access-plugin-repository</id>
					<url>https://repository.jboss.org/nexus/content/repositories/ea/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</pluginRepository>

				<pluginRepository>
					<id>fuse-public-plugin-repository</id>
					<url>https://repo.fusesource.com/nexus/content/groups/public/</url>
					<layout>default</layout>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</pluginRepository>

				<pluginRepository>
					<id>fuse-early-access-plugin-repository</id>
					<url>https://repo.fusesource.com/nexus/content/groups/ea</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>


	<activeProfiles>
		<activeProfile>my-profile</activeProfile>
	</activeProfiles>

</settings>
